[run]
branch = True
source = src
omit =
    */tests/*
    */__pycache__/*
    */venv/*
    */.venv/*
    config-*.py
    */config-*.py

[report]
ignore_errors = True
show_missing = True
skip_empty = True

[xml]
output = coverage.xml