[run]
branch = True
source = src
relative_files = True
omit =
    tests/*
    */tests/*
    config-*.py
    */config-*.py
    */venv/*
    */.venv/*
    */__pycache__/*

[report]
ignore_errors = True
show_missing = True
skip_empty = True
omit =
    tests/*
    */tests/*
    config-*.py
    */config-*.py

[xml]
output = coverage.xml