[run]
source = src
omit =
    */tests/*
    */venv/*
    */.venv/*
    */__pycache__/*
    config-*.py

[report]
ignore_errors = True
show_missing = True
skip_empty = True

[xml]
output = coverage.xml