# =========================
# 🔹 Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 🔹 Ambientes virtuais
# =========================
venv/
.env/
.venv/

# =========================
# 🔹 Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# 🔹 Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔹 Dataset (IMAGENS)
# =========================
data/raw/dataset/
data/archives/

# =========================
# 🔹 Logs e temporários
# =========================
*.log
tmp/
temp/
*.xlsx

# =========================
# 🔹 IDEs
# =========================
.vscode/
.idea/

# =========================
# 🔹 Outros Arquivos
# =========================
*.rar